{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="navlist">
        <a href="#">Contact Us</a>
		<a href="#">About </a>
        <form method="GET">
            <input type="text" placeholder="Search In Drugs" name="src">
            <input type="submit" value="Search">
        </form>
    </div>
    <dir> 
    </dir>
    
</body>
</html>
