*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"]
{
position: relative;
left: 20px;
background: #fff;
width:35%;
height:30px;
border: none;
outline: none;
border-radius: 25px 0 0 25px;
padding: 0 25px;
font-size: 15px;
top: 0px;
margin:7px;
transition: 0.5s;


}
input[type="submit"]
{
position: relative;
left: -15px;
border-radius: 0 25px 25px 0;
width: 60px;
height:30px;
border: none;
outline: none;
cursor: pointer;
background: #6d90dc;
color: #fff;
font-size: 15px;
top: 0px;
margin:7px;

}
.navlist {
background-color: #0074D9;
position: relative;
width: 100%;
border-radius: 0 0 0 0 ;}
.navlist a {
float:right;
display: block;
color: #f2f2f2;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 15px;}
.navlist a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 25px;}
.form{
float:right;
margin:7px;
}
#druglist
{
    margin: 70px;
    padding: 2px;
}
.druglist{
    padding: 10px;
    margin: 10px;
}
   
