{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'css/stl.css'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmaDental</title>
</head>
<body>
    <div class="containor">
         <nav>
            <a class="logo" href="#">Pharma <br> Dental</a>
           <!-- <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">Dictionary</a></li>
            </ul>-->
         </nav>
         <div class="content">
            <div class="text">
                <h2> simple pharmaceutical dictionary  specified for dentists and dental students</h2> 
                <div class="in">
                    <a href="{%url 'search'%}">
                        <input type="submit" value="Continue...">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>